<div class="container">
    <h1>View Movie</h1>
  
    <a href="#" routerLink="/movie/index" class="btn btn-primary">Back</a>
   
    <!-- <div>
        <strong>ID:</strong>
        <p>{{ movie._id }}</p>
    </div> -->
   
    <div>
        <strong>Title:</strong>
        <p>{{ movie.title }}</p>
    </div>
   
    <div>
        <strong>Year:</strong>
        <p>{{ movie.year }}</p>
    </div>

    <div>
        <strong>Director:</strong>
        <p>{{ movie.director }}</p>
    </div>
   
</div>